<!DOCTYPE html>
<html>
<head>
  <title>ChineseCitySelection</title>
  <%= stylesheet_link_tag    "chinese_city_selection/application", media: "all" %>
  <%= javascript_include_tag "chinese_city_selection/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
